@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap');

  
.dark {
    --color-bg-primary: #161618;
    --color-bg-secondary: #283141;
    --color-border-avatar:#43348de8;
    --color-border-avatar-2:#43348da2;
    --color-border-avatar-3:#43348d70;
    --color-text-primary: #f7fafc;
    --color-text-secondary: #e2e8f0;
    --color-text-accent: #81e6d9;
}
  
.light {
    --color-bg-primary: #f0f0f0;
    --color-bg-secondary: #edf2f7;
    --color-border-avatar:#2d3748;
    --color-border-avatar-2:#2d37487e;
    --color-border-avatar-3:#2d374849;
    --color-text-primary: #2d3748;
    --color-text-secondary: #4a5568;
    --color-text-accent: #43348d;
}

.fix-navbar-overflow{
    overflow:hidden;
}

.hover-animation:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 1;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--color-text-primary);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
.hover-animation:hover:after { 
    width: 100%; 
    left: 0; 
  }

@layer base  {
    
    html {
        @apply m-fix-scrollbar mr-0
    }

    body {
        @apply w-[100vw] overflow-x-hidden m-0 pt-0 bg-primary transition duration-200 px-6 md:px-20 lg:px-40 xl:px-64 bigger-desktops:px-96 tracking-tight 
    }

    h1,h2,h3,h4,h5,h6{
        @apply font-bold text-primary
    }

    p{
        @apply text-primary
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }
    
    h2 {
        @apply text-3xl md:text-4xl
    }

    li {
        @apply cursor-pointer
    }

    button{
        @apply rounded-md
    }
}